body {
    color: black;
    font-size: 1em;
}

.navbar{
    display: flex;
    justify-content: flex-end;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

.navitem{
    display: inline;
    margin-right: 2em;
}

.navitem a{
    text-decoration: none;
    color: black;
}

.navitem a:hover{
    color: rgb(200, 0, 0);
    transition: 0.4s;
}