body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: sans-serif;
    overflow: hidden;
}

li{
    list-style: none;
}

.navbar{
    display: flex;
    align-items:center;
    height: 2.5em;
    background-color: rgb(55, 52, 52);
    border-radius: 1em;
    margin: 1em 1em;
}

.nav-list{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    gap: 1em;
    color: white;
}   

.nav-item-new a{
    background-color: rgba(34, 245, 245, 0.97);
    color:black;
    padding: 0.1em;
    cursor: default;
}
/* TODO make it more responsive */
.account{
    display: flex;
    color: white;
    flex-direction: row;
    gap: 2em;
    margin-left: 25em;
    cursor: pointer;
}

.AsideWrap{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
    z-index: 1;
}
  
#Aside{
    position: absolute;
    top: 0;
    right:-200px;
    height: 100%;
    width: 17em;
    border-radius: 2em;
    background-color: white;
    flex-direction: column;
    text-align: center;
    transition: all ease-in-out 0.6s;
    z-index: 2;
}
  
#Aside a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font: 1em;
    text-align: center;
    transition: all ease-in-out 0.2s;
}
 
.Slide{
    opacity: 1 !important;
    visibility: visible !important;
}
  
.Slide #Aside{
    right: -1.4em !important;
}
  
.Flx {
    display: flex;
}

.sidebar-login-text{
    display: flex;
    justify-content: center;
}

.sidebar-login-inputs{
    text-align: center;
}

.login-username{
    width: 20em;
    height: 2em;
    margin-bottom: 2em;
}

.login-password{
    width: 20em;
    height: 2em;
}

.reg-username{
    width: 20em;
    height: 2em;
    margin-bottom: 2em;
}

.reg-password{
    width: 20em;
    height: 2em;
    margin-bottom: 2em;
}

.sidebar-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
}

.login-button{
    width: 20em;
    height: 2em;
    border-radius: 1em;
}

.reg-button{
    width: 20em;
    height: 2em;
    border-radius: 1em;
}

.login-button:hover{
    background-color: rgb(65, 65, 65);
    color: white
}

.reg-button:hover{
    background-color: rgb(65, 65, 65);
    color: white
}

#closeSidebar-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 14em;
    margin-top: 4em; 
    font-size: 0.8em;
}

#closeSidebar-reg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 14em;
    margin-top: 4em; 
    font-size: 0.8em;
}

.main{
    display: grid;
}

.section-1{
    border-radius: 1em;
    margin-left: 1em;
    width: 45em;
    height: 15em;
    background-color: rgb(55, 52, 52);
}
/* TODO add space between words */
.buttons-sec1{
    display: inline-flex;
    color: rgb(129, 129, 129);
    font-family: sans-serif;
}

.buttons-sec1 a:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.buttons-sec1-deposit{
    display: flex;
    float: right;
    font-size: 0.7em;
    border-radius: 0.4em;
    background-color: white;
    margin-right: 2em;
    align-items: center;
}

.information{
    display:flex;
    color:rgb(129, 129, 129);
}
/* TODO добавить черные полоски вдоль */
.sec-markup{
    display: flex;
    justify-content: space-around;
    margin-left: 5em;
    margin-top: 0.2em;
}

.section-2{
    margin: 1em 0 0 1em;
    width: 45em;
    height: 16em;
    background-color: rgb(55, 52, 52);
    border-radius: 1em;
}

.buttons-sec2-list{
    display: inline-flex;
    color: rgb(129, 129, 129);
    font-family: sans-serif;
    margin: 0.3em;
}

.button-sec2-seemore{
    float: right;
    margin-right: 2em;
    font-size: 0.7em;
    border-radius: 0.4em;
    background-color: white;
}

.buttons-sec2-list a:hover{
    color:white;
    cursor: pointer;
}
/* TODO добавить черные полоски вдоль */
.sections-sec2{
    display: inline-flex;
    color: rgb(129, 129, 129);
}

.section-3{
    position: fixed;
    margin: 0 1em 0 48em;
    width: 22em;
    height: 32em;
    border-radius: 1em;
    background-color: rgb(55, 52, 52);
}
.sec3-header{
    display: inline-flex;
    margin: 2em 0 0 2em;
    color: white;
}

.sec3-button{
    display: inline-flex;
    margin-left: 15em;
    background-color: grey;
    border-radius: 1em;
}

.myChart{
    margin: 1em 0 0 2em;
}

